{% extends 'main/base.html' %}

{% block content %}
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <p class="card-text">
                    Офис МСК<br>
                    Офис СПБ
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <input class="form-control mb-2" name="name"/>
                    <input class="form-control mb-2" name="email"/>
                    <textarea class="form-control mb-2" name="massage"> </textarea>
                    <button type="submit" class="btn-bd-primary form-control">Отправить</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}